.planningCardBg {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 0;
    border-radius: 6px;
    width: 240px;
    padding: 6px;
    margin: 5px;
    cursor: pointer;
}

.darkPlanningCardBg {
    @extend .planningCardBg;
    background-color: #212A33;
}

.brightPlanningCardBg {
    @extend .planningCardBg;
    background-color: #BCBCBC;
}

.planningCardTitleExpanded {
    margin-bottom: 5px;
}

.planningCardActionBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.planningCardActionButton {
    flex: 1;
    width: 240px;
    font-size: 14px;
    border: 0;
    border-radius: 6px;
    margin-top: 5px;
    margin-right: 3px;
    cursor: pointer;
}

.planningCardActionButton:last-child {
    margin-right: 0px;
    margin-left: 3px;
}

.darkPlanningCardActionButton {
    @extend .planningCardActionButton;
    background-color: #2C3A47;
    color: #CCCCCC;
}

.brightPlanningCardActionButton {
    @extend .planningCardActionButton;
    background-color: #DBDBDB;
    color: #353535;
}

.darkPlanningCardDivider {
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    width: 245px;
}

.darkPlanningCardDividerTop {
    @extend .darkPlanningCardDivider;
    margin-bottom: 3px;
}

.darkPlanningCardDividerBottom {
    @extend .darkPlanningCardDivider;
    margin-top: 3px;
}

.brightPlanningCardDivider {
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    width: 245px;
}

.brightPlanningCardDividerTop {
    @extend .brightPlanningCardDivider;
    margin-bottom: 3px;
}

.brightPlanningCardDividerBottom {
    @extend .brightPlanningCardDivider;
    margin-top: 3px;
}

.gone {
    display: none;
}