@import "../cards/Card";

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(53, 53, 53, 0.7);
    overflow-y:auto;
}

.popup {
    margin: 70px auto;
    padding: 10px;

    border-radius: 5px;
    width: $verticalWith;
    position: relative;

}

.darkPopup {
    @extend .popup;

    background: #212A33;
    color: #CCCCCC;
}

.brightPopup {
    @extend .popup;

    background: #DBDBDB;
    color: #353535;
}

.popup .content {
    width: 100%;
    overflow: auto;
    font-size: 20px;
}

.popup .title {
    width: 100%;
    overflow: auto;
    font-size: 24px;
}