@import "../Card";

.darkButtonCard {
    @extend .darkCard;
    width: 271px;
    height: 33px;
    margin: 10px 0;
    cursor: pointer;
}

.brightButtonCard {
    @extend .brightCard;
    width: 271px;
    height: 33px;
    margin: 10px 0;
    cursor: pointer;
}

.darkHorizontalButtonCard {
    @extend .darkCard;
    width: 271px;
    height: 40px;
    margin: 10px 10px;
    cursor: pointer;
}

.darkHorizontalButtonCard:hover {
    box-shadow: none;
}

.brightHorizontalButtonCard {
    @extend .brightCard;
    width: 271px;
    height: 40px;
    margin: 10px 10px;
    cursor: pointer;
}

.brightHorizontalButtonCard:hover {
    box-shadow: none;
}

.darkDisabled {
    @extend .darkButtonCard;
    opacity: 0.5;
    pointer-events: none;
}

.brightDisabled {
    @extend .brightButtonCard;
    opacity: 0.5;
    pointer-events: none;
}

.buttonContainer {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-top: 7px;
}