//region Dark
$darkPrimary: rgba(204, 204, 204);
$darkSecondary: rgba(204, 204, 204, 0.5) ;
$darkBg: #2C3A47;
$darkShadow: rgba(204, 204, 204, 0.1);
$darkToday: rgba(204, 204, 204, 0.1);
$darkSelected: rgba(204, 204, 204, 0.5);
$darkHover: rgba(204, 204, 204, 0.2);
$darkDeselect: rgba(204, 204, 204, 0.8);

.darkCustomPicker.rmdp-wrapper,
.darkCustomPicker .rmdp-month-picker,
.darkCustomPicker .rmdp-year-picker,
.darkCustomPicker .rmdp-time-picker div input,
.rmdp-container .darkCustomPicker.ep-arrow::after {
  background-color: $darkBg;
  color: $darkPrimary;
}

.darkCustomPicker .rmdp-day:not(.rmdp-deactive),
.darkCustomPicker .rmdp-time-picker div .rmdp-am,
.darkCustomPicker .rmdp-header-values,
.darkCustomPicker .rmdp-panel-header {
  color: $darkPrimary;
}

.darkCustomPicker .rmdp-day.rmdp-range {
  color: $darkPrimary;
}

.darkCustomPicker .rmdp-panel-body li {
  color: $darkPrimary;
}

.darkCustomPicker .rmdp-day.rmdp-deactive,
.darkCustomPicker .rmdp-day.rmdp-disabled {
  color: $darkPrimary;
}

.rmdp-container .darkCustomPicker.ep-arrow[direction="top"] {
  border-bottom: 1px solid $darkBg;
}

.rmdp-container .darkCustomPicker.ep-arrow[direction="left"] {
  border-right: 1px solid $darkBg;
}

.rmdp-container .darkCustomPicker.ep-arrow[direction="right"] {
  border-left: 1px solid $darkBg;
}

.rmdp-container .darkCustomPicker.ep-arrow[direction="bottom"] {
  border-top: 1px solid $darkBg;
}

.darkCustomPicker .rmdp-wrapper {
  border: 1px solid $darkDeselect;
  box-shadow: 0 0 5px $darkDeselect;
}

.darkCustomPicker .rmdp-panel-body li {
  background-color: $darkPrimary;
  box-shadow: 0 0 2px $darkDeselect;
}

.darkCustomPicker .rmdp-week-day {
  color: $darkPrimary;
}

.darkCustomPicker .rmdp-day.rmdp-deactive {
  color: $darkDeselect;
}

.darkCustomPicker .rmdp-range {
  background-color: $darkSelected;
  box-shadow: 0 0 3px $darkShadow;
}

.darkCustomPicker .rmdp-arrow {
  border: solid $darkPrimary;
  border-width: 0 2px 2px 0;
}

.darkCustomPicker .rmdp-arrow-container:hover {
  background-color: $darkHover;
  box-shadow: 0 0 3px $darkDeselect;
}

.darkCustomPicker .rmdp-panel-body::-webkit-scrollbar-thumb {
  background: $darkPrimary;
}

.darkCustomPicker .rmdp-day.rmdp-today span {
  background-color: $darkToday;
}

.darkCustomPicker .rmdp-rtl .rmdp-panel {
  border-left: unset;
  border-right: 1px solid $darkDeselect;
}

.darkCustomPicker .rmdp-day.rmdp-selected span:not(.highlight) {
  background-color: $darkSelected;
  box-shadow: 0 0 3px $darkShadow;
}

.darkCustomPicker .rmdp-day:not(.rmdp-day-hidden) span:hover {
  background-color: $darkHover !important;
}

.darkCustomPicker .b-deselect {
  color: $darkDeselect;
  background-color: white;
}

.darkCustomPicker .rmdp-action-button {
  color: $darkPrimary;
}

.darkCustomPicker .rmdp-button:not(.rmdp-action-button) {
  background-color: $darkPrimary;
}

.darkCustomPicker .rmdp-button:not(.rmdp-action-button):hover {
  background-color: $darkDeselect;
}
//endregion

//region bright
$brightPrimary: rgb(0, 0, 0);
$brightSecondary: rgba(0, 0, 0, 0.5);
$brightBg: #DBDBDB;
$brightShadow: rgba(0, 0, 0, 0.1);
$brightToday: rgba(0, 0, 0, 0.1);
$brightSelected: rgba(0, 0, 0, 0.5);
$brightHover: rgba(0, 0, 0, 0.2);
$brightDeselect: rgba(0, 0, 0, 0.8);

.brightCustomPicker.rmdp-wrapper,
.brightCustomPicker .rmdp-month-picker,
.brightCustomPicker .rmdp-year-picker,
.brightCustomPicker .rmdp-time-picker div input,
.rmdp-container .brightCustomPicker.ep-arrow::after {
  background-color: $brightBg;
  color: $brightPrimary;
}

.brightCustomPicker .rmdp-day:not(.rmdp-deactive),
.brightCustomPicker .rmdp-time-picker div .rmdp-am,
.brightCustomPicker .rmdp-header-values,
.brightCustomPicker .rmdp-panel-header {
  color: $brightPrimary;
}

.brightCustomPicker .rmdp-day.rmdp-range {
  color: $brightPrimary;
}

.brightCustomPicker .rmdp-panel-body li {
  color: $brightPrimary;
}

.brightCustomPicker .rmdp-day.rmdp-deactive,
.brightCustomPicker .rmdp-day.rmdp-disabled {
  color: $brightPrimary;
}

.rmdp-container .brightCustomPicker.ep-arrow[direction="top"] {
  border-bottom: 1px solid $brightBg;
}

.rmdp-container .brightCustomPicker.ep-arrow[direction="left"] {
  border-right: 1px solid $brightBg;
}

.rmdp-container .brightCustomPicker.ep-arrow[direction="right"] {
  border-left: 1px solid $brightBg;
}

.rmdp-container .brightCustomPicker.ep-arrow[direction="bottom"] {
  border-top: 1px solid $brightBg;
}

.brightCustomPicker .rmdp-wrapper {
  border: 1px solid $brightDeselect;
  box-shadow: 0 0 5px $brightDeselect;
}

.brightCustomPicker .rmdp-panel-body li {
  background-color: $brightPrimary;
  box-shadow: 0 0 2px $brightDeselect;
}

.brightCustomPicker .rmdp-week-day {
  color: $brightPrimary;
}

.brightCustomPicker .rmdp-day.rmdp-deactive {
  color: $brightDeselect;
}

.brightCustomPicker .rmdp-range {
  background-color: $brightSelected;
  box-shadow: 0 0 3px $brightShadow;
}

.brightCustomPicker .rmdp-arrow {
  border: solid $brightPrimary;
  border-width: 0 2px 2px 0;
}

.brightCustomPicker .rmdp-arrow-container:hover {
  background-color: $brightHover;
  box-shadow: 0 0 3px $brightDeselect;
}

.brightCustomPicker .rmdp-panel-body::-webkit-scrollbar-thumb {
  background: $brightPrimary;
}

.brightCustomPicker .rmdp-day.rmdp-today span {
  background-color: $brightToday;
}

.brightCustomPicker .rmdp-rtl .rmdp-panel {
  border-left: unset;
  border-right: 1px solid $brightDeselect;
}

.brightCustomPicker .rmdp-day.rmdp-selected span:not(.highlight) {
  background-color: $brightSelected;
  box-shadow: 0 0 3px $brightShadow;
}

.brightCustomPicker .rmdp-day:not(.rmdp-day-hidden) span:hover {
  background-color: $brightHover !important;
}

.brightCustomPicker .b-deselect {
  color: $brightDeselect;
  background-color: white;
}

.brightCustomPicker .rmdp-action-button {
  color: $brightPrimary;
}

.brightCustomPicker .rmdp-button:not(.rmdp-action-button) {
  background-color: $brightPrimary;
}

.brightCustomPicker .rmdp-button:not(.rmdp-action-button):hover {
  background-color: $brightDeselect;
}
//endregion