:root {
  --rmdp-primary: rgba(204, 204, 204, 1);
  --rmdp-secondary: rgba(204, 204, 204, 0.5);
  --rmdp-bg: #2C3A47;
  --rmdp-shadow: rgba(204, 204, 204, 0.1);
  --rmdp-today: rgba(204, 204, 204, 0.1);
  --rmdp-selected: rgba(204, 204, 204, 0.5);
  --rmdp-hover: rgba(204, 204, 204, 0.2);
  --rmdp-deselect: rgba(204, 204, 204, 0.8);
}

.custom-picker.rmdp-wrapper,
.custom-picker .rmdp-month-picker,
.custom-picker .rmdp-year-picker,
.custom-picker .rmdp-time-picker div input,
.rmdp-container .custom-picker.ep-arrow::after {
  background-color: var(--rmdp-bg);
  color: var(--rmdp-primary);
}

.custom-picker .rmdp-day:not(.rmdp-deactive),
.custom-picker .rmdp-time-picker div .rmdp-am,
.custom-picker .rmdp-header-values,
.custom-picker .rmdp-panel-header {
  color: var(--rmdp-primary);
}

.custom-picker .rmdp-day.rmdp-range {
  color: var(--rmdp-primary);
}

.custom-picker .rmdp-panel-body li {
  color: var(--rmdp-primary);
}

.custom-picker .rmdp-day.rmdp-deactive,
.custom-picker .rmdp-day.rmdp-disabled {
  color: var(--rmdp-primary);
}

.rmdp-container .custom-picker.ep-arrow[direction="top"] {
  border-bottom: 1px solid var(--rmdp-bg);
}

.rmdp-container .custom-picker.ep-arrow[direction="left"] {
  border-right: 1px solid var(--rmdp-bg);
}

.rmdp-container .custom-picker.ep-arrow[direction="right"] {
  border-left: 1px solid var(--rmdp-bg);
}

.rmdp-container .custom-picker.ep-arrow[direction="bottom"] {
  border-top: 1px solid var(--rmdp-bg);
}

.custom-picker .rmdp-wrapper {
  border: 1px solid var(--rmdp-secondary);
  box-shadow: 0 0 5px var(--rmdp-secondary);
}

.custom-picker .rmdp-panel-body li {
  background-color: var(--rmdp-primary);
  box-shadow: 0 0 2px var(--rmdp-secondary);
}

.custom-picker .rmdp-week-day {
  color: var(--rmdp-primary);
}

.custom-picker .rmdp-day.rmdp-deactive {
  color: var(--rmdp-secondary);
}

.custom-picker .rmdp-range {
  background-color: var(--rmdp-selected);
  box-shadow: 0 0 3px var(--rmdp-shadow);
}

.custom-picker .rmdp-arrow {
  border: solid var(--rmdp-primary);
  border-width: 0 2px 2px 0;
}

.custom-picker .rmdp-arrow-container:hover {
  background-color: var(--rmdp-hover);
  box-shadow: 0 0 3px var(--rmdp-secondary);
}

.custom-picker .rmdp-panel-body::-webkit-scrollbar-thumb {
  background: var(--rmdp-primary);
}

.custom-picker .rmdp-day.rmdp-today span {
  background-color: var(--rmdp-today);
}

.custom-picker .rmdp-rtl .rmdp-panel {
  border-left: unset;
  border-right: 1px solid var(--rmdp-secondary);
}

.custom-picker .rmdp-day.rmdp-selected span:not(.highlight) {
  background-color: var(--rmdp-selected);
  box-shadow: 0 0 3px var(--rmdp-shadow);
}

.custom-picker .rmdp-day:not(.rmdp-day-hidden) span:hover {
  background-color: var(--rmdp-hover) !important;
}

.custom-picker .b-deselect {
  color: var(--rmdp-deselect);
  background-color: white;
}

.custom-picker .rmdp-action-button {
  color: var(--rmdp-primary);
}

.custom-picker .rmdp-button:not(.rmdp-action-button) {
  background-color: var(--rmdp-primary);
}

.custom-picker .rmdp-button:not(.rmdp-action-button):hover {
  background-color: var(--rmdp-deselect);
}