.gone {
    display: none;
}

.headerText {
    font-size: 18px;
}

.headerMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.darkHeader {
    @extend .header;
    color: #CCCCCC;
}

.brightHeader {
    @extend .header;
    color: #353535;
}

.headerTop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.headerTop > * {
    margin: 10px;
}

.darkHeaderTop {
    @extend .headerTop;
    background: #2C3A47;
}

.brightHeaderTop {
    @extend .headerTop;
    background: #DBDBDB;
}

.headerMenuCategory {
    display: block;
    width: 50vw;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 8px;
}

.darkHeaderMenuCategory a {
    @extend .headerMenuCategory;
    color: #CCCCCC;
    border: 1px solid #CCCCCC;
}

.darkHeaderMenuCategory a:hover {
    background-color: #43586b;
    color: #CCCCCC;
}

.brightHeaderMenuCategory a {
    @extend .headerMenuCategory;
    color: #353535;
    border: 1px solid #353535;
}

.brightHeaderMenuCategory a:hover {
    background-color: #b9b9b9;
    color: #353535;
}

.darkHeaderMenuNotActiveItem {
    @extend .darkHeaderMenuCategory;
    background-color: #2C3A47;
    border-radius: 8px;
}

.brightHeaderMenuNotActiveItem {
    @extend .brightHeaderMenuCategory;
    background-color: #DBDBDB;
    border-radius: 8px;
}

.darkHeaderMenuActiveItem {
    @extend .darkHeaderMenuCategory;
    background-color: #43586b;
    border-radius: 8px;
}

.brightHeaderMenuActiveItem {
    @extend .brightHeaderMenuCategory;
    background-color: #b9b9b9;
    border-radius: 8px;
}

.darkMenuNotAvailable {
    @extend .darkHeaderMenuNotActiveItem;
    opacity: 0.8;
    pointer-events: none;
}

.brightMenuNotAvailable {
    @extend .brightHeaderMenuNotActiveItem;
    opacity: 0.8;
    pointer-events: none;
}

.darkHeaderMenuValueItem {
    @extend .darkHeaderMenuCategory;
    background-color: #2C3A47;
    pointer-events: none;
    border-radius: 8px;
}

.darkHeaderMenuValueItem a:hover {
    background-color: #2C3A47;
}

.brightHeaderMenuValueItem {
    @extend .brightHeaderMenuCategory;
    background-color: #DBDBDB;
    pointer-events: none;
    border-radius: 8px;
}

.brightHeaderMenuValueItem a:hover {
    background-color: #DBDBDB;
}