.contentInWeekCardSelect {
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 250px;
}

.contentInWeekCardSelect > div {
    cursor: pointer;
}

.contentInWeekSelectIcon {
    background-color: var(--item-card-bg-color);
    border-radius: 6px;
    padding: 3px;
}