.contentInWeekCard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 0;
    border-radius: 6px;
    width: 271px;
}

.darkContentInWeekCard {
    @extend .contentInWeekCard;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #2C3A47;
    color: #CCCCCC;
}

.darkContentInWeekCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.brightContentInWeekCard {
    @extend .contentInWeekCard;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #DBDBDB;
    color: #353535;
}

.brightContentInWeekCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.contentInWeekCardTitle {
    margin: 5px;
}

.contentInWeekCardSelect {
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    width: 250px;
}

.contentInWeekCardSelect > div {
    cursor: pointer;
}

.darkContentInWeekSelectIcon {
    background-color: #212A33;
    border: 0;
    border-radius: 6px;
    padding: 3px;
    cursor: pointer;
}

.brightContentInWeekSelectIcon {
    background-color: #BCBCBC;
    border: 0;
    border-radius: 6px;
    padding: 3px;
    cursor: pointer;
}

.noContent {
    margin-bottom: 5px;
    font-size: 14px;
}