.contentInWeekCard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 0;
    border-radius: 6px;
    width: 271px;
}

.contentInWeekCardTitle {
    margin: 5px;
}

.contentInWeekCardSelect {
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 250px;
}

.contentInWeekCardSelect > div {
    cursor: pointer;
}

.darkContentInWeekSelectIcon {
    background-color: var(--item-card-button-color);;
    border: 0;
    border-radius: 6px;
    padding: 3px;
    cursor: pointer;
}

.noContent {
    margin-bottom: 5px;
    font-size: 14px;
}