@import "../Card";

.checkboxSelectedNames {
    margin: 0 5px;
    overflow-wrap: break-word;
}

.checkboxExpandButton {
    background-color: #212A33;
    width: 260px;
    border-radius: 6px;
    padding: 2px 0;
    cursor: pointer;
    margin-top: 10px;
}

.checkboxContentContainer {
    overflow: hidden;
    position: relative;
    width: 271px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: default;
}

/* Customize the label (the checkboxContainer) */
.checkboxContainer {
    display: block;
    position: relative;
    padding-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkboxContainer:last-child {
    margin-bottom: 5px;
}

.checkboxText {
    left: 0;
    right: 0;
    width: 225px;
    text-align: left;
    overflow-wrap: break-word;
    margin-left: 45px;
}

/* Hide the browser's default checkbox */
.checkboxContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.darkCheckboxContainer {
    @extend .checkboxContainer;
}

/* On mouse-over, add a grey background color */
.darkCheckboxContainer:hover input ~ .darkCheckboxCheckmark {
    background-color: #adadad;
}

/* When the checkbox is checked, add a blue background */
.darkCheckboxContainer input:checked ~ .darkCheckboxCheckmark {
    background-color: #212A33;
}

.brightCheckboxContainer {
    @extend .checkboxContainer;
}

/* On mouse-over, add a grey background color */
.brightCheckboxContainer:hover input ~ .brightCheckboxCheckmark {
    background-color: #b0b0b0;
}

/* When the checkbox is checked, add a blue background */
.brightCheckboxContainer input:checked ~ .brightCheckboxCheckmark {
    background-color: #A1A1A1;
}

/* Create a custom checkbox */
.checkboxCheckmark {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 25px;
    width: 25px;
    margin-left: 8px;
    border-radius: 6px;
}

.darkCheckboxCheckmark {
    @extend .checkboxCheckmark;
    background-color: #CCCCCC;
}

.brightCheckboxCheckmark {
    @extend .checkboxCheckmark;
    background-color: #BCBCBC;
}

/* Create the checkboxCheckmark/indicator (hidden when not checked) */
.checkboxCheckmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkboxCheckmark when checked */
.checkboxContainer input:checked ~ .checkboxCheckmark:after {
    display: block;
}

/* Style the checkboxCheckmark/indicator */
.darkCheckboxContainer .darkCheckboxCheckmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #CCCCCC;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Style the checkboxCheckmark/indicator */
.brightCheckboxContainer .brightCheckboxCheckmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #353535;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}