@import "../Card";

/* Add some padding inside the card container */
.inputContainer {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-top: 5px;
}

.inputInput {
    width: 94%;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    margin: 5px 0;
}

.darkInput {
    @extend .inputInput;
    background-color: #3d4e60;
    border: 2px solid #3c4c5d;
    color: #CCCCCC;
}

.darkInput:focus {
    border: 3px solid #46596e;
    outline: none;
}

.brightInput {
    @extend .inputInput;
    background-color: #c5c5c5;
    border: 2px solid #bbbbbb;
    color: #353535;
}

.brightInput:focus {
    border: 3px solid #9d9d9d;
    outline: none;
}

.inputHolder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputEye {
    position: absolute;
    justify-self: right;
    right: 0;
    margin-right: 10px;
}