@import "../Card";

/* Add some padding inside the card container */
.inputContainer {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-top: 5px;
}

.inputInput {
    width: 94%;
    background-color: #3d4e60;
    border: 2px solid #3c4c5d;
    border-radius: 4px;
    color: #CCCCCC;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    margin: 5px 0;
}

.inputInput:focus {
    border: 3px solid #46596e;
    outline: none;
}