.workingDayCardHolder {
  width: 271px;
}

.workingDayCardTitle {
  margin-top: 5px;
}
.workingDayCardRangeList {
  margin-left: 5px;
}


.workingDayCardExpandButtonNotExpanded {
  width: 260px;
  border-radius: 6px;
  padding: 2px 0;
  cursor: pointer;
  margin-top: 3px;
  margin-bottom: 5px;
}

.darkWorkingDayCardExpandButtonNotExpanded {
  @extend .workingDayCardExpandButtonNotExpanded;
  background-color: #3c4f61;
}

.brightWorkingDayCardExpandButtonNotExpanded {
  @extend .workingDayCardExpandButtonNotExpanded;
  background-color: #BCBCBC;
}

.workingDayCardAddButton {
  width: 260px;
  border-radius: 6px;
  padding: 5px 0;
  cursor: pointer;
  margin-bottom: 5px;
}

.darkWorkingDayCardAddButton {
  @extend .workingDayCardAddButton;
  background-color: #3c4f61;
}

.brightWorkingDayCardAddButton {
  @extend .workingDayCardAddButton;
  background-color: #BCBCBC;
}