@import "../Card";

//Dark
.darkValueCard {
    @extend .darkCard;
    flex: 1;
    margin-right: 5px;
    height: 65px;
    width: 130px;
    margin-top: 10px;
}

.darkValueCard:last-child {
    margin-left: 5px;
    margin-right: 0;
}

.darkClickableValueCard {
    @extend .darkValueCard;
    cursor: pointer;
}

.darkNotClickableValueCard {
    @extend .darkValueCard;
    cursor: default;
}

.darkSingleLineValueCard {
    @extend .darkCard;
    flex: 1;
    width: $verticalWith;
    margin-top: 10px;
}

.valueCardText {
    margin: 5px;
    overflow-wrap: break-word;
}

.darkValueDivider {
    @extend .darkDivider;
    width: 100%;
}

//Bright
.brightValueCard {
    @extend .brightCard;
    flex: 1;
    margin-right: 5px;
    height: 65px;
    width: 130px;
    margin-top: 10px;
}

.brightClickableValueCard {
    @extend .brightValueCard;
    cursor: pointer;
}

.brightValueCard:last-child {
    margin-left: 5px;
    margin-right: 0;
}

.brightNotClickableValueCard {
    @extend .brightValueCard;
    cursor: default;
}

.brightSingleLineValueCard {
    @extend .brightCard;
    flex: 1;
    height: 65px;
    width: $verticalWith;
    margin-top: 10px;
}

.brightValueDivider {
    @extend .brightDivider;
    width: 100%;
}

/* Add some padding inside the card container */
.valueContainer {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-top: 5px;
}