@import "../Card";

.itemHolder {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* On mouse-over, add a deeper shadow */
.verticalItemCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

/* Add some padding inside the card container */
.itemContainer {
    padding-top: 6px;
}

.verticalItemDivider {
    @extend .divider;
    width: $verticalWith;
}