.timing {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 80px;
}

.timingTimers {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.timingButtons {
    margin-bottom: 10px;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}
