.login-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.loginErrorText {
  color: red;
  margin-top: 10px;
  font-size: 14px;
  overflow-wrap: break-word;
  width: 240px;
}