.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #2C3A47;
    border: 0;
    border-radius: 6px;
    color: white;
    padding: 10px;
    text-align: center;
    margin: 5px 5px 10px;
    width: 110px;
}

.content {
    font-size: 25px;
    width: 150px;
}