.saveCardBg {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 0;
    border-radius: 6px;
    width: 240px;
    padding: 6px;
    margin: 5px;
    cursor: pointer;
}

.darkSaveCardBg {
    @extend .saveCardBg;
    background-color: #212A33;
}

.brightSaveCardBg {
    @extend .saveCardBg;
    background-color: #BCBCBC;
}

.saveCardTitleExpanded {
    margin-bottom: 5px;
}

.saveCardRowTitle {
    display: flex;
    width: 240px;
    flex-wrap: wrap;
    font-size: 16px;
    align-items: center;
    justify-content: space-between;
}

.saveCardRowValue {
    display: flex;
    width: 240px;
    flex-wrap: wrap;
    font-size: 14px;
    align-items: center;
    justify-content: space-between;
    font-style: italic;
}

.saveCardActionBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.saveCardActionButton {
    flex: 1;
    width: 240px;
    font-size: 14px;
    border: 0;
    border-radius: 6px;
    margin-top: 5px;
    margin-right: 3px;
    cursor: pointer;
}

.saveCardActionButton:last-child {
    margin-right: 0px;
    margin-left: 3px;
}

.darkSaveCardActionButton {
    @extend .saveCardActionButton;
    background-color: #2C3A47;
}

.brightSaveCardActionButton {
    @extend .saveCardActionButton;
    background-color: #DBDBDB;
}

.darkSaveCardDivider {
    border-top: 2px solid rgba(255, 255, 255, 0.1);
    width: 245px;
}

.darkSaveCardDividerTop {
    @extend .darkSaveCardDivider;
    margin-bottom: 3px;
}

.darkSaveCardDividerBottom {
    @extend .darkSaveCardDivider;
    margin-top: 3px;
}

.brightSaveCardDivider {
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    width: 245px;
}

.brightSaveCardDividerTop {
    @extend .brightSaveCardDivider;
    margin-bottom: 3px;
}

.brightSaveCardDividerBottom {
    @extend .brightSaveCardDivider;
    margin-top: 3px;
}

.gone {
    display: none;
}