.prognosis {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.prognosisCard {
    margin-left: 5px;
}

.prognosisAlreadyWorkedToggle {
    width: 271px;
    margin-bottom: 10px;
}