:root {
    --bg-color: #FFFFFF;
}

* {
    transition: 0.2s;
}

body {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--bg-color)
}