$verticalWith: 271px;
$itemMarginTop: 10px;

.card {
  border-radius: 5px; /* 5px rounded corners */
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

//Dark
.darkCard {
  @extend .card;
  background: #2C3A47;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  color: #CCCCCC;
}

.darkCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.darkDivider {
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  width: $verticalWith;
  margin: 6px 0;
}

//Bright
.brightCard {
  @extend .card;
  background: #DBDBDB;
  box-shadow: 0 4px 8px 0 rgba(187, 187, 187, 0.2);
  color: #000000;
}

.brightCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.brightDivider {
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  width: $verticalWith;
  margin: 6px 0;
}